Repository exercism/erlang-test-runner, pull requests merged in 2021-11, with the labels that each got.

#22 fully comply to version 2 spec
  Dockerfile
  flake.lock
  flake.nix
  src/erlang_test_runner.erl
  src/etr_compile.erl
  src/etr_runner.erl
  test/runs_tests_SUITE.erl
Labels: hacktoberfest-accepted, x:action/improve, x:knowledge/advanced, x:module/test-runner, x:type/coding, x:size/large

#21 fix unknown assert crash
  Dockerfile
  src/etr_runner.erl
Labels: hacktoberfest-accepted, x:action/fix, x:knowledge/intermediate, x:module/test-runner, x:type/coding, x:size/small

#30 🤖 Update `.dockerignore` file
  .dockerignore
Labels: x:size/tiny
